<h1> View Our Animals! </h1>

{{> page/nav}}

&nbsp;
<form action="Animals.html" method="get">
    <label> Search for Animal</label>
    <input type="text">
    <input type="submit" value="Search">
</form>
&nbsp;
<table>
    <tr>
        <th> animalID </th>
        <th> species </th>
        <th> animalName </th>
        <th> diet </th>
    </tr>
    <tr>
        <td> 1 </td>
        <td> tiger </td>
        <td> Tony </td>
        <td> meat </td>
    </tr>
    <tr>
        <td> 2 </td>
        <td> hippo </td>
        <td> Gutsav </td>
        <td> fruits, vegetables </td>
    </tr>
    <tr>
        <td> 3 </td>
        <td> penguin </td>
        <td> Perry </td>
        <td> fish </td>
    </tr>
    <tr>
        <td> 4 </td>
        <td> polar bear </td>
        <td> Louis </td>
        <td> meat </td>
    </tr>
</table>
<h2> Add an Animal </h2>
<form action="Animals.html" method="post">
    <label for="species"> Species </label>
    <input id="species" type="text">
    <label for="animalName"> Animal's Name </label>
    <input id="animalName" type="text">
    <label for="diet"> Diet </label>
    <input id="diet" type="text">
    <input type="submit" value="Enter">
</form>
<h2> Update an Animal </h2>
<form action="Animals.html" method="put">
    <label for="species"> Species </label>
    <input id="species" type="text">
    <label for="animalName"> Animal's Name </label>
    <input id="animalName" type="text">
    <label for="diet"> Diet </label>
    <input id="diet" type="text">
    <input type="submit" value="Enter">
</form>
<h2> Delete an Animal </h2>
<form action="Animals.html" method="delete">
    <label for="deleteAnimal"> Remove Animal </label> 
        <select id="deleteAnimal" name="deleteAnimal">
        <option value=""> Select an Animal </option>            
        <option value="1"> Tony </option>
        <option value="2"> Gustav </option>
        <option value="3"> Perry </option>
        <option value="4"> Louis </option>   
</select>
<input type="submit" value="Enter">                     
</form>