<h1> Meet Our Keepers! </h1>

{{> page/nav}}

&nbsp;
<table id="keepers-table">
    {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
    <tr>
        {{#each data.[0]}}
        <th>
            {{@key}}
        </th>
        {{/each}}
    </tr>
    
    {{!-- For each row, print the animalID, species, animalName, and diet --}}
    {{#each data}}
    <tr data-value={{this.keeperID}}>
        <td>{{this.keeperID}}</td>
        <td>{{this.keeperName}}</td>
    </tr>
    {{/each}}
</table>

<h2> Add Keeper </h2>
<form id="addKeeperForm" action="/addKeeperForm" method="POST">
    <label for="keeperName"> Species </label>
    <input id="addKeeperName" name="keeperName" type="text" required>
    
    <input type="submit" value="Enter">
</form>

<h2> Update a Keeper </h2>
<form action="Keepers.html" method="put">
    <label for="keeperName"> keeperName </label>
    <input id="keeperName" type="text">
    <input type="submit" value="Enter">
</form>

<h2> Delete a Keeper </h2>
<form action="Keepers.html" method="delete">
    <label for="deleteKeeper"> Remove Keeper </label> 
        <select id="deleteKeeper" name="deleteKeeper">
        <option value=""> Select a Keeper </option>            
        <option value="1"> Steve Irwin </option>
        <option value="2"> Casey Anderson </option>
        <option value="3"> Jimi Hendrix </option>
        <option value="4"> Mike Tyson </option>   
</select>
<input type="submit" value="Enter">                     
</form>