body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:whitesmoke;
}

tr th {
    border: 1px solid;
    padding: 10px;
    text-align: center;
}

tr td {
    border: 1px solid;
    padding: 5px;
    text-align: center;
}
