body {
    color: gold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('lion.jpg');
    /** Image source cited: https://denverzoo.org/animals/african-lion/ **/
}

tr th {
    border: 3px solid;
    padding: 10px;
    text-align: center;
}

tr td {
    border: 3px solid;
    padding: 5px;
    text-align: center;
}
