<nav>
    <a href="/"> Home </a>
    &nbsp; 
    <a href="Animals"> Animals </a>
    &nbsp;
    <a href="Keepers"> Keepers </a> 
    &nbsp;
    <a href="Foods"> Foods </a>
    &nbsp;
    <a href="FeedingEvents"> FeedingEvents </a>
    &nbsp;
</nav>